p {
	color: honeydew;
	font-size: 20px;
}
.navbar-brand {
	color: black !important;
}

.nav-link:not(:hover) {
	color: #e2e2e2;
}

.nav-link:hover {
	color: black;
}

a.active {
	color: black !important;
}

.preset {
	margin-top: 8.5%;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
	background-image: url("../media/background.jpg");
	background-repeat: repeat;
	background-position: center center;
	background-color: black;
	min-height:100vh;
}

#nav {
	background-color: #A3C6C4 !important;
	opacity: 0.94;
}

iframe {
	border: none;
	display: inline-block;
}
table {
	display: inline-block;
}

td {
	background-color: white;
}

td.clicked {
	background-color: black;
}
